html {
  height: 100%;
}

.hidden {
  display: none;
}

body {
  background-size: cover;
  height: 100%;
}

.box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock {
  height: 80px;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

form input {
  border: none;
  background: transparent;
  outline: none;
}

#login-form {
  height: 100px;
}

#login-form input {
  width: 380px;
  height: 70px;
  color: white;
  font-size: 25px;
}

#login-form input::placeholder {
  filter: brightness(80%);
  width: 380px;
  height: 70px;
  color: white;
  font-size: 25px;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: white;
}

#todo-form {
  height: 60px;
}

#todo-form input {
  width: 300px;
  height: 60px;
  color: white;
  font-size: 20px;
}

#todo-form input::placeholder {
  filter: brightness(80%);
  width: 300px;
  height: 70px;
  color: white;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: white;
}

#quote span {
  color: white;
}

.weather-box {
  display: flex;
  justify-content: flex-end;
}

#weather span {
  color: white;
  font-size: 20px;
}

#greeting {
  color: white;
  filter: brightness(90%);
}

#todo-list {
  color: white;
  width: 300px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.myButton {
  background-color: transparent;
  border-radius: 42px;
  border: 1.5px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 5px;
  text-decoration: none;
}

li span {
  padding-left: 6px;
}

#todo-list li {
  padding-bottom: 10px;
}
